<!-- header secction all page-->
<header>
    <!-- div azul claro-->
    <div id="section1" class="container-fluid">
        <div>
            <h2>precios</h2>
        </div>
        <div id="imagenLogo">
            <img src="../../assets/img/logoIntro.png" width="45px" alt="">
        </div>
        <div id="justo">
            <h1><strong>justos</strong></h1>
        </div>
    </div>
    <!-- box gris oscuro-->
    <div id="section2"> </div>
</header>

<!-- main section by router-->
<div class="container p-3">
    <router-outlet></router-outlet>
</div>


<footer>
    <div id="footer" class="container-fluid"> &copy; 2023 | Javier Chavarria</div>
</footer>



<!-- footer secction all page-->