
#section2{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lupa{
    margin-left: 10px;
}

#slide{
    margin-left: 40px;
}
#barCode{
    margin-right: 20px;
}
#justo{
    color: white; text-shadow: black 0.2em 0.2em 0.2em
}

/* de aqui empieza */
#cantidadProducto{
    text-align: left;
    margin-top: 40px;
    margin-left: 10px;
    color:rgb(255, 255, 255)
}

#main{
    text-align: center;
}

#manito{
    cursor:pointer; cursor: hand
   
}

#title{
    text-align: center;
    font-size: 50px;
    margin-top:20px;
    color:rgb(127, 197, 255);
    text-transform:uppercase;
}

#tabla{
    justify-content: center;
    text-align: center;
    align-items: center;
}

table th {
    text-align: center;
  }
  table tr {
    text-align: center;
  }
  table td {
    text-align: center;
  }
/*esto para el boton search*/
#back{
    justify-content: center;
    text-align: center; 
 }
 #pointer{
    cursor:pointer; cursor: hand
 }