
    <div id="pError" class="container">
        <div id="btnVolver">
            <button routerLink="/home" type="button" class="btn btn-success">Volver al Inicio</button>
        </div>
        <div id="txt">
            <p>Página no encontrada
                404
                ¡No podemos encontrar la página! Pero no tienes por qué preocuparte. </p>
               <p> ¡Todo sigue siendo FABULOSO!</p>
        </div>
        <div>
            <h1 id="tGrande">404</h1>
        </div>
        <div id="lego">
            <img src="../../assets/img/lego.png" width="200px" alt="">
        </div>
    </div>

