<main>
    <div class="container-fluid">
        <div id="divIcon" class="row">
            <div id="tag" class="col-12 col-lg-4">
                <img src="../../assets/img/moneda.png" width="100px" alt="">
                <div id="txt">
                <h2>¿Qué es Precios Justos?</h2>
                <p>Una medida que fija los precios de más de 1.800 productos de primera necesidad por 120 días, mediante
                    acuerdos voluntarios con empresas productoras y comercializadoras.</p>
                </div>
            </div>
            <div  id="tag"class="col-12 col-lg-4">
                <img src="../../assets/img/tienda.png" width="100px" alt="">
                <div id="txt">
                <h2>¿Qué es Precios Justos?</h2>
                <p>En los supermercados, distribuidores mayoristas y comercios adheridos al programa por provincia o
                    región.</p>
                </div>
            </div>
            <div id="tag" class="col-12 col-lg-4">
                <img src="../../assets/img/telefono.png" width="100px" alt="">
                <div id="txt">
                <h2>¿Qué es Precios Justos?</h2>
                <p>Para escanear el código de barras de cada producto y saber si está alcanzado por la medida. Además,
                    vas a poder reportar inconvenientes.</p>
                </div>
            </div>
        </div>

        <div id="btnProvincia">
            <button routerLink="/provincias" type="button" class="btn btn-success">Encontra los precios de tu
                Provincia</button>
        </div>

        
    </div>
</main>