#divIcon{
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}
h2{
    color:rgb(246, 221, 124);
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}
#btnProvincia{
    display:flex;
    justify-content: center;
    text-align: center;
    
    margin-bottom: 100px;
}

#tag{
    margin-top:10px;
    margin-bottom:30px;
}
#txt{
    margin-top:15px;
}